<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BeerTag | Home</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>
<!-- The header and footer section are the same in each page -->
<header>
    <div>
        <h3>
            <a href="./HomeView.html">Home</a>
            | <a href="./BeersView.html">Beers</a>
            | <a href="./About.html">About</a>
        </h3>
    </div>
</header>

<div class="body-content">
    <h2>Welcome (design)!</h2>
    <img src="../static/images/logo.png" alt="BeerTag logo"/>
    <p>A beer a day keeps the doctor away!</p>
</div>

<footer>
    <small>©️ Copyright 2024, BeerTag</small>
</footer>
</body>
</html>